html, body {
	margin: 0;
	box-sizing: border-box;
	background: #f6f8f9;
}

.container {
	width: 1200px;
	margin: 10px auto;
}

.goods-cart {
	width: 250px;
	height: 365px;
	margin: 0 15px 0;
	background: #fff;
	float: left;
	
}