.container {
	width: 80%;
	max-width: 1000px;
	margin: 10px auto;
	padding: 5px 30px;
	background: pink;
}

.header {
	min-height: 100px;
	background: green;
	margin: 1%;
}

@media screen and (max-width: 600px) {
	.container {
		background: red;
		width: 90%;
	}
}

@media screen and (max-width: 350px) {
	.container {
		background: blue;
		width: 98%;
	}
}

.list0 {

}

.list1 {

}

.list2 {
	
}

.list3 {
	
}




