.container {
	width: 80%;
	max-width: 1000px;
	margin: 10px auto;
	padding: 5px;
	background: pink;
}

.header {
	min-height: 100px;
	background: green;
	margin: 1%;
}

.left {
	width: 30%;
	background: blue;
	min-height: 200px;
	float: left;
	margin: 1%;
}

.right {
	width: 66%;
	background: red;
	min-height: 200px;
	float: left;
	margin: 1%;
}

.wrap::after {
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 600px) {
	.container {
		background: orange;
		width: 90%;
	}

	.left {
		width: 48%;
	}

	.right {
		width: 48%;
	}
}

@media screen and (max-width: 350px) {
	.container {
		background: cyan;
		width: 98%;
	}

	.left {
		width: 98%;
		/*float: none;*/
	}

	.right {
		width: 98%;
		/*float: none;*/
	}
}




