* {
	margin: 0;
}
html, body {
	font-family: Tahoma, Open Sans, Helvetica, sans-serif;
	font-size: 12px;
	background: #e1dde6;
}

p, li {
	line-height: 150%;
}
.wrapper {
	max-width: 1400px;
	width: 65%;
	margin: 25px auto;
	border: 2px solid grey;
	border-radius: 5px;
}

.contacts {
	width: 200px;
	height: 100px;
	margin: 10px;
	float: right;
	list-style-type: none;
}

.head {
	background-color: lightblue;
	margin-bottom: 40px;
	height: 120px;
}

.logo {
	width: 300px;
	height: 100px;
	padding: 10px;
	float: left;
}

.navigation	{
	width: 200px;
	padding: 15px 10px 15px;
	float: left;
}
.navigation ul {
	margin: 20px 0;
}
.navigation ul li {
	margin-bottom: 10px;
}
.main_cont {

}

.adv {
	font-size: 24px;
	margin: 16px auto;
}

.pic {
	display: block;
	width: 300px;
	text-align: center;
}



