* {
	margin: 0;
}
html, body {
	font-family: Tahoma, Open Sans, Helvetica, sans-serif;
	font-size: 12px;
	background: #e1dde6;
	/*line-height: 150%;*/
}
.clearfix {
	width: 100%;
	clear: both;
	border: 2px solid red;
}

p, li {
	line-height: 150%;
}
.wrapper {
	max-width: 1400px;
	width: 960px;
	margin: 25px auto;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: #fff;
}

.contacts {
	width: 200px;
	height: 100px;
	margin: 10px;
	float: right;
	list-style-type: none;
}

.head {
	background-color: lightblue;
	margin-bottom: 40px;
	height: 120px;
}

.logo {
	width: 300px;
	height: 100px;
	padding: 10px;
}

.navigation	{
	width: 200px;
	padding: 15px 10px 15px;
	float: left;
}
.navigation ul {
	margin: 20px 0;
}
.navigation ul li {
	margin-bottom: 10px;
}

.content {
	width: 680px;
	padding: 0 20px;
	float: right;
}

.adv {
	font-size: 24px;
	margin: 16px auto;
	background-color: #5ae4a4;
}

.pic {
	display: block;
	width: 300px;
	text-align: center;
	background-color: #0098d2;
}

footer {
	background-color: #c433e8;
/*	position: absolute;
	bottom: 0;*/
	
}

.foot {
	background-color: #4b59fd;
}

.foot_second {
	background-color: #d49f00;
}



