* {
	margin: 0;
}
html, body {
	font-family: Tahoma, sans-serif;
	background-color: white;
}
p {
	line-height: 150%;
}
.wrapper {
	max-width: 1400px;
	width: 65%;
	margin: 25px auto;
	border: 2px solid grey;
	border-radius: 5px;
}

.contacts {
	float: right;
}

.head {
	background-color: lightblue;
	margin-bottom: 40px;
	height: 120px;
}








